Source: pycares
Section: python
Priority: optional
Maintainer: Tanguy Ortolo <tanguy+debian@ortolo.eu>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: https://github.com/saghul/pycares
Vcs-Git: https://git.ortolo.eu/git/pkg-pycares.git
Vcs-Browser: https://git.ortolo.eu/pkg-pycares.git

Package: python-pycares
Architecture: all
Depends: ${misc:Depends}
Description: Python interface for c-ares
 pycares is a Python module which provides an interface to c-ares. c-ares is a
 C library that performs DNS requests and name resolutions asynchronously.

Package: python3-pycares
Architecture: all
Depends: ${misc:Depends}
Description: Python 3 interface for c-ares
 pycares is a Python 3 module which provides an interface to c-ares. c-ares is
 a C library that performs DNS requests and name resolutions asynchronously.
